body {
    background: #1e1e2e;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    height:100vh;*/
}
h1 {
    color: #74c7ec;
    font-size: 55px;
}
h2 {
    color: #bac2de;
    font-size: 25px;
}
.subtitle {
    font-size: 20px;
}
.btn {
    background-color: #313244;
    border-color: #313244;
    padding: 0.6em 1em;
    color: #bac2de;
}